### python 기초문법
- 식별자, 변수, 데이터 타입, 데이터 형변환

### comment, print

In [2]:
# this is function
def func():
    return 100

In [4]:
#print end
print("data1", end="")
print("data2", end="\t")
print("data3", end="")

data1data2	data3

In [8]:
#print format1
s = "data"
t = "data2"

print("s,t 2 is {0}, {1}".format(s, t))

s,t 2 is data, data2

In [11]:
# print format2
s = "data"
t = "data2"

print("naming format print : {name}, {bright}".format(bright=s, name=t))

naming format print : data2, data

### 식별자
- 변수, 함수, 클래스, 모듈, 패키지 등을 구분하기 위해서 사용되는 이름
- 규칙 
    - 대소문자를 구분
    - 소문자(a~z), 대문자(A~Z), 숫자(0~9), 특수문자(_) (다른 특수문자는 사용 불가)
    - 가장앞에 ('_ _')언더바 두개 쓰는건 안된다...(왜 그런지는 알지??)(Hint: '_ _main_ _')
    - 가장앞에 숫자는 쓰지마라
    - 예약어는 사용 불가함 : def, print 등등

In [14]:
A = 1
a = 2

In [15]:
A, a

(1, 2)

### 변수
- '='은 대입을 의미함

In [16]:
a=1
b='python'
a,b

(1, 'python')

In [17]:
# 다중할당 - 한줄에 여러개의 변수를 선언해서 값을 넣어줍니다.

a,b,c = "100","1000",10000

In [24]:
c = d = e = "data"

### 자료형 - datatype
- Number : int, float, complex(복소수)
- Boolean : True, False
- String
- Collection
    - List
    - Tuple
    - Dictionary
    - Set

In [30]:
# Number - int (파이썬 3.x에 들어서 거의 무한대의 숫자값을 사용 가능)
a, b, c, d = 0, 12345, -9993, +2384
print(type(a),type(b),c,d)

<class 'int'> <class 'int'> -9993 2384

In [32]:
# Number - float
a,b,c,d = 0.0, 1.2, 0.839, 223.42
print(type(a), type(b), c, d)

<class 'float'> <class 'float'> 0.839 223.42

In [35]:
# Number - complex
a = 2+3j
print(type(a),a)
b= complex(3, -4)
print(type(b),b)

<class 'complex'> (2+3j)
<class 'complex'> (3-4j)

In [37]:
a.real, a.imag # type 찍어보면 float으로 변형됨을 알 수 있음

(2.0, 3.0)

In [38]:
a + b, a*b, a / b

((5-1j), (18+1j), (-0.24+0.68j))

In [40]:
abs(a) #절대값함수

3.605551275463989

In [187]:
# Boolean
a, b = True, False #이게다임
a,b

(True, False)

---
### 문자열

In [50]:
# String
a,b = "data", 'science "good" ' #따옴표를 표현하고 싶다면 저렇게 넣어주면 됨 / 반대로 넣어도 가능함
a+" "+b
c = """ fast campus
data science
is the best course
"""
print(c)

 fast campus
data science
is the best course

In [54]:
# String - multiple string
s = "data " * 5
s

'data data data data data '

In [79]:
# String - offset (문자 하나하나 넘버링해서 특정문자의 위치 및 문자열을 선택 가능)
a = "abcdefgh"

a[2:len(a)]

'cdefgh'

In [81]:
# 문자열의 범위를 지정해서 문자열 선택 가능
a[1:3], a[-8:-4]

('bc', 'abcd')

In [99]:
# step
# inverse할때 사용
a[::1],a[::2],a[::3],a[::-1]

('abcdefgh', 'aceg', 'adg', 'hgfedcba')

### 문자열 함수

In [94]:
# string methods
# upper, lower
a[::-1].upper(), a.lower()

('HGFEDCBA', 'abcdefgh')

In [101]:
# find ★★★★★★★★★★★★★★★★★

a.find("cd") #특정문자나 문자열의 위치를 알랴줌(없으면 -1를 반환)

2

In [102]:
# index
a.index("c"), a.index("efg") #찾는 문자열이 없으면 에러가 발생

(2, 4)

In [197]:
# count
b= "qwoeriputn;m,b ,.cxzasdfl;kjgpoi[cxzvn,qrjlkhdsa;lsdhjl;b"

b.count('s'), b.count("cx")

(3, 2)

In [198]:
# strip (양쪽빈칸제거)

s = " data science    "
s.strip()

'data science'

In [199]:
# replace

b.replace("cx","")

'qwoeriputn;m,b ,.zasdfl;kjgpoi[zvn,qrjlkhdsa;lsdhjl;b'

In [121]:
# split ★★★★★★★★★★★★★★★★★★★ (특정문자를 기준으로 자른다. 매우자주 쓰이는 함수)

s.strip().split(" ")

b.strip().split(";")

['qwoeriputn', 'm,b ,.cxzasdfl', 'kjgpoi[cxzvn,qrjlkhdsa', 'lsdhjl', 'b']

---
### 컬렉션 (리스트 튜플 딕셔러니 세트)

In [129]:
#리스트 선언

ls1 = []
ls2 = ["fast", "campus", "data", "science"]
ls3 = [[1,2],[3,4]]
ls4 = [1, True, "fast"]

print(ls1,ls2,ls3,ls4)

[] ['fast', 'campus', 'data', 'science'] [[1, 2], [3, 4]] [1, True, 'fast']

In [130]:
#List offest

ls2[2]

'data'

### 리스트함수★★★★★★

In [131]:
#list method
# append(값넣기), sort(차순정렬), reverse(역순정렬), index, insert, remove, pop, join★, count
ls_h = ["fast", "campus", "data", "science"]

ls_h.append("dss8")
ls_h

['fast', 'campus', 'data', 'science', 'dss8']

In [134]:
ls_h.sort()
ls_h

['campus', 'data', 'dss8', 'fast', 'science']

In [137]:
ls_h.reverse()
ls_h

['science', 'fast', 'dss8', 'data', 'campus']

In [142]:
ls_h.index("dss8") #없는 문자를 찾으면 에러가 발생하니 주의

2

In [149]:
ls_h.insert(2,"insert") # 가장앞에는 데이터가 들어갈 위치, 그다음에 들어갈 내용
ls_h

['science', 'fast', 'insert', 'dss8', 'data', 'campus']

In [150]:
ls_h.remove("insert")
ls_h

['science', 'fast', 'dss8', 'data', 'campus']

In [189]:
#list copy ★★★★★★★★★ 리스트카피로 중복변형을 방지 가능

a = [1,2,3]
b = a
a,b

([1, 2, 3], [1, 2, 3])

In [190]:
b[2] = 10 
a,b #이러면 참조만 하게 되는 b를 수정하는 꼴이라 a까지 바뀌어버림

([1, 2, 10], [1, 2, 10])

In [191]:
c= a.copy()
a,b,c

([1, 2, 10], [1, 2, 10], [1, 2, 10])

In [193]:
a[2] = 100
a,b,c

([1, 2, 100], [1, 2, 100], [1, 2, 10])

In [194]:
# join★★★★★★★★★★★ 리스트내의 문자/문자열을 하나의 문자열로 결합
text_list = ["Conquer","and","Launch","Your","Life"]
" ".join(text_list)

'Conquer and Launch Your Life'

### 튜플/딕셔너리

In [160]:
# Tuple
#리스트와 같이 순서가 있는 데이터 타입, 단, 수정이 불가...
tu = ()
t = 1, 2, 3, 4
a = (1,2,3)
t, a

((1, 2, 3, 4), (1, 2, 3))

In [164]:
import sys

#getsizeof : byte단위로 변수에 사용하는 메모리 공간 알려줌

ls = [i for i in range(0,1000)]
tu = (i for i in range(0,1000))

sys.getsizeof(ls), sys.getsizeof(tu)

(9024, 88)

In [172]:
# dictionary
# 데이터에 순서가 없으며, key와 value가 쌍으로 모여있는 타입

dic ={'a':"one", 'b':"two", 'c':"three", 'd':"four", "A":["data","science"], "숫자":1234,}

dic

{'A': ['data', 'science'],
 'a': 'one',
 'b': 'two',
 'c': 'three',
 'd': 'four',
 '숫자': 1234}

In [173]:
#수정
dic['a'] = '하나'
dic

{'A': ['data', 'science'],
 'a': '하나',
 'b': 'two',
 'c': 'three',
 'd': 'four',
 '숫자': 1234}

### 딕셔너리 함수

In [ ]:
#keys, values, items, clear, get★, copy, update

In [174]:
dic

{'A': ['data', 'science'],
 'a': '하나',
 'b': 'two',
 'c': 'three',
 'd': 'four',
 '숫자': 1234}

In [176]:
dic.keys()

dict_keys(['a', 'b', 'c', 'd', 'A', '숫자'])

In [177]:
dic.values()

dict_values(['하나', 'two', 'three', 'four', ['data', 'science'], 1234])

In [178]:
dic.items()

dict_items([('a', '하나'), ('b', 'two'), ('c', 'three'), ('d', 'four'), ('A', ['data', 'science']), ('숫자', 1234)])

In [183]:
#dic.clear()는 딕셔너리의 내용을 모두 비움

dic.get('A', "no data") #에러없이 찾아내는 방법임
# 첫번째는 찾고자하는 키값, 두번째는 찾지 못할경우 돌려줄 값(설정을 하지 않으면 아무일도 없음(에러X))

['data', 'science']

In [186]:
dic2 = {1:"one", 2:"two", 100:"헌드레드"}
dic.update(dic2)
dic, dic2

({'a': '하나',
  'b': 'two',
  'c': 'three',
  'd': 'four',
  'A': ['data', 'science'],
  '숫자': 1234,
  1: 'one',
  2: 'two',
  100: '헌드레드'},
 {1: 'one', 2: 'two', 100: '헌드레드'})

### SET
- 중복되는 데이터가 없는 '집합' 형태의 데이터 타입 입니다.
- 합집합, 차집합, 교집합 같은 집합의 연산이 가능.
- 순서는 없음, 수정도 불가능

In [201]:
#선언
s= set([1,2,3,4,5,1,2,3])
type(s), s

(set, {1, 2, 3, 4, 5})

In [202]:
s= list(s)
s[0] = 100
s = set(s)
s

{2, 3, 4, 5, 100}

In [209]:
#set 연산
s1 = set([1,2,3,4])
s2 = set([3,4,5,6])

#교집합

print(s1 & s2)
print(s1.intersection(s2))

{3, 4}
{3, 4}

In [215]:
#합집합(+기호 아님)
print (s1 | s2)
print(s1.union(s2))

#차집합
print(s1-s2)
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

여러 단축키 목록
    shift_tab
    tab
    home, end
    ctrl + 화살표키