In [27]:
%matplotlib inline
%config InlineBackend.figure_formats = {'png','retina'}

from ipyleaflet import *
import time

In [30]:
center = [37.335887, 126.584063]
zoom = 13
m = Map(center=center, zoom=zoom)
m

Map(basemap={'url': 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 'max_zoom': 19, 'attribution': 'Map …

### Add Marker

In [17]:
marker = Marker(location=center)

m+=marker

In [18]:
df = pd.read_csv("cctv.csv")[:10]
df = df[["위도","경도"]]
df

          위도          경도
0  37.475977  126.906818
1  37.470488  126.906568
2  37.468207  126.890789
3  37.464440  126.900331
4  37.466631  126.908008
5  37.462335  126.907400
6  37.459921  126.907670
7  37.455431  126.904157
8  37.453722  126.912529
9  37.452033  126.913221

In [19]:
locs = list(zip(df["위도"],df["경도"]))
locs

[(37.475976600000003, 126.90681789999996),
 (37.470488000000003, 126.90656799999999),
 (37.468207299999996, 126.89078949999998),
 (37.464440000000003, 126.90033149999999),
 (37.466630500000001, 126.90800779999996),
 (37.462334999999996, 126.90740000000004),
 (37.4599209, 126.90767019999998),
 (37.455430900000003, 126.90415710000002),
 (37.453722300000003, 126.91252889999998),
 (37.452032899999999, 126.91322130000003)]

In [ ]:
for loc in locs:
    marker = Marker(location=loc)
    m+=marker
    time.sleep(0.5)