In [1]:
# DBMS : 데이터베이스 매니지먼트 시스템(데이터베이스를 관리하는 미들웨어 시스템)
# RDBMS : 구조설계가 필요한 데이터베이스(스키마) -- oracle, mysql, postgresql, sqlite
# NoSQL : 많은 데이터 저장이 가능, 데이터간의 관계가 없으므로 무조건 다 저장해야됨, 복잡성이 작음, 빠름 -- Mongodb

In [ ]:
# 일단 MySQL, Mongobd 배운다. Redis는 아주 빠르므로 나중에 배운다.

In [ ]:
# MySQL은 데이터베이스 서버이다.
# 다중사용자와 다중 스레드 지원
# 표준SQL을 사용함(문법이 스탬다드임)
# 세계적으로 많이 사용
# 가격저렴하고 강력한 기능

# 새로운걸 만들어 넣는경우 관계를 정리하다가 꼬일수가 있다.
# 스키마 수정이 어렵다는 단점이 있다.

# table : row와 colunm(field)로 이루어져있는 데이터베이스를 이루는 기본 단위
# 저장엔진 : MylSAM, innoDB
# column : 테이블의 세로축 데이터
# row : 가로축 데이터

In [2]:
# 트렌젝션이란? : 중복확인요청시 문제발생을 막기위해 실행단위(프로시저)를 묶어서 관리하는것.
# RDBMS : value, key, relationship, 스키마 (데이터베이스 설계)

In [4]:
# NoSQL == RDBMS의 한계를 극복하기 위해 만들어짐
# --> Not only SQL
# 확장성이 용이하고, 데이터 저장이 유연함, 스키마나 join이 없다.
# collection별롸 관계가 없기때문에 모든 데이터가 들어있어야 한다.
# json포멧(key-value형태)을 사용
# insert가 빨라서 데이터베이스에 많이 사용됨(단 select는 느림..)
# 트랜젝션이 지원되지 않음.(동시수정에 대한 신뢰성이 지원되지 않음)
# Mongodb를 사용할거임~

In [ ]:
# install 하는 방법

# reference 참조
# - https://www.cyberciti.biz/faq/howto-install-mysql-on-ubuntu-linux-16-04/


# 1.1 install

# # apt 업데이트 및 업그레이드
# $ sudo apt update
# $ sudo apt upgrade

# # mysql-server, mysql-client 설치 ( 설치 중간에 패스워드 입력 )
# $ sudo apt install mysql-server mysql-client

# 1.2 mysql secure 설정

# # mysql 보안 관련 설정 ( n-n-y-n-y-y 순으로 입력해줍니다. )
# $ sudo mysql_secure_installation

# # mysql root 사용자로 접속
# $ mysql -u root -p





# 3. 외부접속 설정---------------------------------------------

# # mysql 설정파일 bind-address = 0.0.0.0 으로 수정
# $ sudo vi /etc/mysql/mysql.conf.d/mysqld.cnf
# bind-address = 0.0.0.0

# # 외부접속이 허용되도록 mysql 설정
# mysql> grant all privileges on *.* to root@'%' identified by '<password>';

# 3

# # 비밀번호가 qwer1234 인경우 아래와 같이 입력
# mysql> grant all privileges on *.* to root@'%' identified by 'qwer1234';

In [1]:
# query 문 학습--------------------------------------------------------------

# status 현재상태

# 데이터베이스 생성/선택/삭제 ---------------------

# create database test;
# use test; # 데이터베이스 선택
# select database(); #현재 선택된 데이터베이스 확인

# drop database test;# 데이터베이스 삭제

# 테이블 생성/선택/삭제 --------------------------

# create table user(
    # name char(20),
    # age int(3));
# show tables;
# desc user;

# rename table user to dss; # 테이블 명 변경
# drop table dss; # 데이블 삭제

# 열삽입 (테이블 이름이 dss인 경우 기준)
# insert into dss(name,age)
    # values("alice",30),
    # (peter, 22);
    
# 열 확인
# select * from dss

In [ ]:
# 데이터베이스 sql파일 다운로드 하는곳
# - https://dev.mysql.com/doc/index-other.html


# 일단 sql을 넣기전에 데이터베이스의 베이스는 미리 만들어져있어야한다.

# 밖에서 바로 데이터베이스 넣기
# mysql -u root -p world < world.sql

# mysql에서 넣기
# mysql> source world.sql

In [ ]:
# 이거슨 테이블에 필드의 설정을 넣어주는 방법
# create table user2 (
# user_id int primary key auto_increment,
# name varchar(20) not null,
# email varchar(30) unique not null,
# age int(3) DEFAULT 30,
# rdate timestamp
# )


# 일단 (https://drive.google.com/drive/folders/1lx1ugXGKjiYcTZ5FynmQgPL8FM_WAD9v) 여기서 내용 확인 ~!


# create
# alter  <--- 뭔가 수정할때 사용
# database
# table(column) - add, modify, drop


# create table tmp(id int);
# drop table tmp;


# ALTER TABLE user2 DROP tmp;
# ALTER TABLE user2 ADD tmp TEXT;
# ALTER TABLE user2 MODIFY COLUMN tmp INT(3);


# 데이터의 형찾기 및 변환 

# show variables like 'character_set_database';
# ALTER DATABASE test CHARACTER SET = utf8;
# ALTER DATABASE test CHARACTER SET = ascii;


# insert-----------------------------
# INSERT INTO user1(user_id, name, email, age, rdate)
# VALUES (1, "jin", "pdj@gmail.com", 30, now()),
# (2, "peter", "peter@daum.net", 33, '2017-02-20'),
# (3, "alice", "alice@naver.com", 23, '2018-01-05'),
# (4, "po", "po@gmail.com", 43, '2002-09-16'),
# (5, "andy", "andy@gmail.com", 17, '2016-04-28'),
# (6, "jin", "jin1224@gmail.com", 33, '2013-09-02');

# INSERT INTO user2(name, email)
# VALUES ("jin", "pdj@gmail.com"),
# ("jun", "jin1224@gmail.com");

#### 여기서부턴 select 아래로 다 포함되는 명령어들임 ㅋㅋㅋㅋ--------------------------------------
# select ------★★★★ 데이터를 가져오는 기본적인 syntax-----------
# select * from user1
# select name, email from user1
# select name as "이름", email as "이메일" from user1 --- 출력되는 컬럼이름을 바꿀수 있음(실제는 바뀌지 않음)

    # distinct 중복제거--------
    # select distinct(name) from user1; --- 중복제거

    # where 조건으로 찾기---------
    # select *
    # from user1
    # where rdate > "2017-01-01" and rdate < "2018-07-01"; 

    # --> where rdate between "2017-01-01" and "2018-07-01"; 날짜데이터에서는 between을 사용하여 써도 된다. 


    # order by (asc,desc) 오름차순 내림차순 ---------
    # SELECT *
    # FROM user1
    # ORDER BY age DESC, rdate DESC


    # concat (출력되는 방식 결정)----------
    # SELECT name, age, concat(name, "(" , age, ")")
    # from user1



    # like , not like (문자열 내의 내용을 기준으로 조건 찾기)------
    # select *
    # from user1
    # where email like "%@gmail%";
    
    # --> where email not like "%@gmail%";
    
    # in -----------------------
    # select *
    # from user1
    # where name = "andy" or name = "jin" or name = "alice" <--- or 남발하는건 비효율적임
    # ---> where name in ("andy", "jin", "alice") <--- 이렇게 쓰자
    
    # limit -----너무 많은 데이터를 찾느라 오래걸리는경우 리미트를 걸어줌----
    # select *
    # from user1
    # limit 3 <-- 3개만 검색
    # limit 2,4 <-- 2부터 4개까지 검색

    
# update -- 주의... 꼭 먼저 조건맞춰서 바뀔내용을 찾아보고 조금씩 변경해본후 적용해라--------
# update user1
# set age=20, email="bright@daum.net"
# where name="peter"
# limit 100 # 이걸로 조심조심 해본다

# 아래처럼 위와 조건 맞춰서 이 쿼리문이 맞는지 확인부터...
# select *
# from user1
# where name="peter";


# delete --- 주의... 진짜 주의해야할것이다.-----
# delete from user1
# where rdate < "2016-01-01"

# 아래처럼 먼저 찾아보고...
# select * from user1
# where rdate < "2016-01-01"


# ★★★★★
# gruop by --- count, min, max,sum,avg... 수식계산 가능~!!!!

# 1. count 카운트함수 - 각 나라별로 몇개의 도시가 있는지 출력해보기
    # select CountryCode, count(CountryCode)
    # from city
    # group by CountryCode

    # 활용 - 전체도시의 갯수 세기(중복제거하고)
    # select count(DISTINCT(CountryCode))
    # from city
    
# 2. min - 대륙별로 인구수화 GNP최소값을 조회
    # select continent, min(GNP), min(Population)
    # from country
    # where GNP != 0 and Population != 0
    # group by continent

# 3. max - 대륙별로 인구수화 GNP최대값을 조회
    # select continent, max(GNP), max(Population)
    # from country
    # where GNP != 0 and Population != 0
    # group by continent

# 4. avg - 대륙별로 총 인구수와 총 GNP의 평균
    # select continent, avg(GNP), avg(Population) as Population
    # from country
    # where GNP != 0 and Population != 0
    # group by continent
    # order by Population

# 5. having - 값을 가지고 있는 경우
    # 먼저 아래의 경우는 우리가 원하는 결과 데이터가 아니라 처음 계산시에 조건이 적용되어버려거 5억명 이상의 데이터만 계산된다 ㅜㅜ
    # select Continent, sum(Population) as Population
    # from country
    # where Population > 500000000 # 데이터 계산 전에 조건을 적용.....
    # group by Continent           # 망.....
    
    # having을 사용하여 아래처럼 쓰면 결과 데이터를 조건으로 검색한다.
    # select Continent, sum(Population) as Population
    # from country
    # group by Continent
    # having Population > 500000000

In [ ]:
# HeidiSQL단축키 설명
# 새창 열기	Ctrl + N	
# 새 쿼리 탭	Ctrl + T	
# 쿼리 탭 닫기	Ctrl + F4	
# 실행중인 작업취소	Esc	
# 이전 탭	Ctrl + Shift + Tab	이전 탭으로 이동
# 다음 탭	Ctrl + Tab	다음 탭으로 이동
# 실행	F9	쿼리탭의 전체 쿼리가 실행
# 선택 실행	Ctrl + F9	
# 현재 쿼리 실행	Ctrl + Shift + F9	
# 현재 쿼리의 실행 계획	Ctrl + F7	단축키 추가
# 다른이름으로 저장	F12	쿼리를 다른 이름으로 저장
# 선택 영역을 파일로 저장	Ctrl + Shift + S	
# 청소	Ctrl + W	쿼리편집기 내용 전부 지우기
# 내용 찾기	Ctrl + F	
# 내용 바꾸기	Ctrl + R	
# 다음 찾기 또는 바꾸기	F3	
# SQL 재구성	Ctrl + F8	더 읽기 쉽게 할 수 있도록 활성화된 편집기에서 어수선한 SQL을 자동으로 재구성
# 주석 설정/해제	Ctrl + F6	
# 데이터 결과 처음으로 이동	Ctrl + PgUp	단축키 추가
# 데이터 결과 마지막으로 이동	Ctrl + PgDn	단축키 추가
# 행 삽입	Ins	
# 행 복제후 삽입	Ctrl + Ins	
# 선택한 행을 삭제	Ctrl + Del	
# 적용	Ctrl + Enter	수정한 행을 update
# 다음	Ctrl + Alt + PgDn	
# 모두 보기	Ctrl + Alt + End	
# 이전 결과 탭	Alt + Left	
# 다음 결과 탭	Alt + Right

In [ ]:
# 댓글서비스를 구현하기 위해서는?

# 1. 파워풀한 서버 1개와 그 아래 테스크 분배하는 3개의 서버
# 2. Load balancing이라고 한다. 부하를 분담하는 시스템.
# 3. 데이터베이스 서버는 4개가 있었는데 masterDB에 insert가 쌓인다.
# 4. slaveDB에도 동기화가 되어서 master에서 자동으로 insert쿼리가 전송된다.
# 5. select쿼리는 slaveDB에서 처리했다. (마스터 슬레이브 관계로 부하를 나누는 데이터베이스 구조 -- 레플리케이션)
# 5-1. DB4는 request와 response에 대한 로그를 쌓는 데이터베이스였다. 이를통해 유의미한 정보를 분석하였다.
# 5-2. 물론 DB4도 내부에서는 여러 데이터베이스로 나뉜다.
# 6. DB5도 있었는데 이는 백업서버로 binary형태로 저장함. 스케줄링이 되어있어서 자동으로 적시가 되면 백업한다.
# 7. 백업DB는 꽉차면 가장 과거의 데이터베이스 백업정보를 삭제한다.