In [2]:
data1 = np.array([80,85,100,90,95])
data2 = np.array([70,80,100,95,95])

##### 분산(variance)
- 1개의 이산정도를 나타냄
- 편차제곱의 평균

$ variance = \frac{\sum_{i=1}^n{(x_i-\bar{x})^2}}{n}, (\bar{x}:평균) $

In [10]:
# 분산
def variance(data):
    # TODO
    avg = np.mean(data)
    return np.mean([(i - avg)**2 for i in data])    
    
# test code (분산, 표준편차)
print( "variance :", variance(data1), variance(data2) )
print( "standard deviation :", variance(data1)**0.5, variance(data2)**0.5 )

variance : 50.0 126.0
standard deviation : 7.07106781187 11.2249721603

In [3]:
# numpy
print( "variance :", np.var(data1), np.var(data2))
print( "standard deviation :", np.std(data1), np.std(data2))

variance : 50.0 126.0
standard deviation : 7.07106781187 11.2249721603

##### 공분산(covariance)
- 2개의 확률변수의 상관정도를 나타냄
- 평균 편차곱
- 방향성은 보여줄수 있으나 강도를 나타내는데 한계가 있다
    - 표본데이터의 크기에 따라서 값의 차이가 큰 단점이 있다

$ covariance = \frac{\sum_{i=1}^{n}{(x_i-\bar{x})(y_i-\bar{y})}}{n}, (\bar{x}:x의 평균, \bar{y}:y의 평균) $

In [21]:
# 표본상관계수를 사용 (모상관계수를 사용하면 -1을 제거)
def covariance(data1, data2):
    # TODO
    avg1 = np.mean(data1)
    avg2 = np.mean(data2)
    cov = 0
    for i in range(len(data1)):
        cov += (data1[i]-avg1)*(data2[i]-avg2)
    return cov/(len(data1)-1)
#     return np.mean([(data1[i]-avg1)*(data2[i]-avg2) for i in range(len(data1))])
covariance(data1, data2)

93.75

In [22]:
# teat code 1
# data1이 커짐으로 data2도 커진다. (비례)
data1 = np.array([80,85,100,90,95])
data2 = np.array([70,80,100,95,95])
covariance(data1, data2)

93.75

In [23]:
# test code 2
# data3는 커지지만 data4는 작아진다. (반비례)
data3 = np.array([80,85,100,90,95])
data4 = np.array([100,90,70,90,80])
covariance(data3, data4)

-87.5

In [24]:
# test code 3
# 표본데이터의 크기가 커지면 공분산 값도 커진다.
# 두 데이터의 상관정도의 강도를 나타내는데 무리가 있다.
data5 = np.array([800,850,1000,900,950])
data6 = np.array([1000,900,700,900,800])
covariance(data5, data6)

-8750.0

In [25]:
# numpy
print(np.cov(data1, data2)[0][1])
print(np.cov(data3, data4)[0][1])
print(np.cov(data5, data6)[0][1])

93.75
-87.5
-8750.0

##### 상관계수(correlation coefficient)
- 공분산의 한계를 극복하기 위해서 만들어짐
- -1 ~ 1까지의 수를 가지며 0과 가까울수록 상관도가 적음을 의미
- x의 분산과 y의 분산을 곱한 결과의 제곱근을 나눠주면 x나 y의 변화량이 클수록 0에 가까워짐
- https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.corrcoef.html

$ correlation-coefficient = \frac{공분산}{\sqrt{{x분산} \cdot {y분산}}} $

최종 상관계수

$ r = \frac{\sum(x-\bar{x})(y-\bar{y})}{\sqrt{{\sum(x-\bar{x})^2}\cdot{\sum(y-\bar{y})^2}}} $

In [26]:
def cc(data1, data2):
    # TODO
    avg1 = np.mean(data1)
    avg2 = np.mean(data2)
    cc ,v1 ,v2 = 0,0,0
    for i in range(len(data1)):
        cc += (data1[i]-avg1)*(data2[i]-avg2)
        v1 += (data1[i]-avg1)**2
        v2 += (data2[i]-avg2)**2
    return cc/(v1*v2)**0.5

In [27]:
# teat code 1
data1 = np.array([80,85,100,90,95])
data2 = np.array([70,80,100,95,95])
cc(data1, data2)

0.94491118252306805

In [28]:
# teat code 2
data3 = np.array([80,85,100,90,95])
data4 = np.array([100,90,70,90,80])
cc(data3, data4)

-0.97072534339415095

In [29]:
# teat code 3
data5 = np.array([800,850,1000,900,950])
data6 = np.array([1000,900,700,900,800])
cc(data5, data6)

-0.97072534339415095

In [30]:
# numpy
print(np.corrcoef(data1, data2)[0][1])
print(np.corrcoef(data3, data4)[0][1])
print(np.corrcoef(data5, data6)[0][1])

0.944911182523
-0.970725343394
-0.970725343394

##### 결정계수(cofficient of determination)
- x로부터 y를 예측할수 있는 정도
- 상관계수의 제곱 (상관계수를 양수화)
- 수치가 클수록 예측할수 있는 정도가 더 정확

In [34]:
p_df = pd.read_csv("premierleague.csv")
p_df

                        name   gf  ga  points
0            Manchester City  106  27     100
1          Manchester United   68  28      81
2          Tottenham Hotspur   74  36      77
3                  Liverpool   84  38      75
4                    Chelsea   62  38      70
5                    Arsenal   74  51      63
6                    Burnley   36  39      54
7                    Everton   44  58      49
8             Leicester City   56  60      47
9           Newcastle United   39  47      44
10            Crystal Palace   45  55      44
11               Bournemouth   45  61      44
12           West Ham United   48  68      42
13                   Watford   44  64      41
14  Brighton and Hove Albion   34  54      40
15         Huddersfield Town   28  58      37
16               Southampton   37  56      36
17              Swansea City   28  56      33
18                Stoke City   35  68      33
19      West Bromwich Albion   31  56      31

In [36]:
# 승점과 득점의 상관계수
np.corrcoef(p_df["points"], p_df["gf"])[0][1]

0.93184046364635154

In [33]:
# 승점과 실점의 상관계수
np.corrcoef(p_df["points"], p_df["ga"])[0][1]

-0.87059400432626755