In [19]:
%matplotlib inline
#주피터노트북에서 라인 아래에 보여지도록 설정

%config InlineBackend.figure_formats = {'png','retina'} 
#png 이미지 압축기술설정, retina 그래프 해상도 2배 높히기

In [5]:
#get하여 html가져오기

import requests

r = requests.get('https://www.google.co.kr/search?q=KB금융')
r.text[:1000]

'<!doctype html><html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="ko"><head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image"><link href="/images/branding/product/ico/googleg_lodp.ico" rel="shortcut icon"><title>KB금융 - Google 검색</title><style>#gbar,#guser{font-size:13px;padding-top:1px !important;}#gbar{height:22px}#guser{padding-bottom:7px !important;text-align:right}.gbh,.gbd{border-top:1px solid #c9d7f1;font-size:1px}.gbh{height:0;position:absolute;top:24px;width:100%}@media all{.gb1{height:22px;margin-right:.5em;vertical-align:top}#gbar{float:left}}a.gb1,a.gb4{text-decoration:underline !important}a.gb1,a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf .gb4{color:#900 !important} </style><style>.star{float:left;margin-top:1px;overflow:hidden}.ybhkme{font-size:11px}.j{width:34em}body,td,div,.p,a{font-family:arial,sans-serif;tap-highligh'

In [4]:
# 구글 검색결과 갯수 가져오기

import requests
from bs4 import BeautifulSoup
r = requests.get("https://www.google.co.kr/search?q=검색")

soup = BeautifulSoup(r.content, 'lxml')
res_stat = soup.find(id='resultStats').text

print(res_stat)

검색결과 약 587,000,000개

In [21]:
#삼성전자 주식정보 가져오기

code = '005930'
url = 'http://companyinfo.stock.naver.com/v1/company/c1010001.aspx?cmp_cd='+code

r = requests.get(url)
soup = BeautifulSoup(r.text,"lxml")
td = soup.find('td', {'class':'cmp-table-cell td0101'})
td

<td class="cmp-table-cell td0101">
<dl>
<dt>
<span class="name">삼성전자</span>
<a class="cEm" href="http://www.samsung.com" target="comPage" title="[홈페이지] www.samsung.com"><img align="absmiddle" hspace="3" src="/images/icon_home.gif"/></a>
<a class="cEm" title="[대표전화] 031-200-1114
[주식담당] 02-2255-8126"><img align="absmiddle" hspace="1" src="/images/icon_tel.gif"/></a>
<b class="num">005930</b>
</dt>
<dt class="line-left">Samsung Electronics</dt>
<dt class="line-left">KOSPI : 전기전자</dt>
<dt class="line-left">WICS : 반도체와반도체장비</dt>
</dl>
</td>

In [23]:
td.find('span',{"class":'name'}).text

'삼성전자'

In [24]:
anchors = td.find_all('a', {'class':'cEm'})
print(anchors[0]['href'])
print(anchors[1]['title'])

http://www.samsung.com
[주식담당] 02-2255-8126

In [25]:
dts = td.find_all('dt',{"class":"line-left"})
print(dts[0].text)
print(dts[1].text)
print(dts[2].text)

Samsung Electronics
KOSPI : 전기전자
WICS : 반도체와반도체장비

In [2]:
# 네이버 실시간 급상승 검색어 크롤링
import re
import requests

html_text= requests.get('http://naver.com').text
re.findall('<span class="ah_k">(.*?)</span>', html_text)[:20]

['바스코',
 '저스트뮤직',
 '이천희 가구',
 '최할리',
 '붉은불개미',
 '스윙스',
 '씨잼',
 '코카인',
 '글로리데이',
 '만물상꽈리고추찜',
 '허준호',
 '이혜영',
 '청년내일채움공제',
 '컨트롤러',
 '이상민',
 '김영란',
 '기름진 멜로',
 '방시혁',
 '신한은행 채용',
 '쑥 비슷한 풀']

In [3]:
# JSON 데이터 받기 - 네이버 실시간 검색어 순위
import json, requests
from pandas.io.json import json_normalize

r = requests.get('http://rank.search.naver.com/rank.js')
json_normalize(json.loads(r.text), ['data','data'])

   change  cvalue  delta    keyword  rank ratio  score    tvalue
0       +     378      0        바스코     1     .    726  33.82590
1       +     301      0      저스트뮤직     2     .    807  26.58921
2     new     606      0      붉은불개미     3     .      0  40.69720
3       +     611      1         씨잼     4     +    162  21.93702
4       +     218      1        스윙스     5     +    216  14.89446
5       +     148      1        코카인     6     +    699  16.11277
6       +     412      1      글로리데이     7     +    993  39.66270
7       +     486      1   만물상꽈리고추찜     8     +    237  36.29330
8       +     263      1        허준호     9     +    150  24.40820
9     new     293      1     이천희 가구    10     +      0  21.15650
10      +     253      1       컨트롤러    11     +    975  19.43570
11      +     540      8        방시혁    12     -     63  17.10350
12      +     250      2        김영란    13     +    231  16.10430
13      +     241      1   청년내일채움공제    14     -     78   9.28777
14      +     192      2        이파니    15     +    405  14.23490
15      +     364      0        크러쉬    16     .     69  13.98210
16      +     120      0      더 울버린    17   new    888  13.95430
17      +     126      1  우리가 만난 기적    18     +     51   5.83565
18      +     186      5        이혜영    19     -     87  13.31810
19      +      79      0    신한은행 채용    20     .    117   5.28188