### python 기초문법
- 식별자, 변수, 데이터 타입, 데이터 형변환

### comment, print

In [2]:
# this is function
def func():
    return 100

In [4]:
#print end
print("data1", end="")
print("data2", end="\t")
print("data3", end="")

data1data2	data3

In [8]:
#print format1
s = "data"
t = "data2"

print("s,t 2 is {0}, {1}".format(s, t))

s,t 2 is data, data2

In [11]:
# print format2
s = "data"
t = "data2"

print("naming format print : {name}, {bright}".format(bright=s, name=t))

naming format print : data2, data

### 식별자
- 변수, 함수, 클래스, 모듈, 패키지 등을 구분하기 위해서 사용되는 이름
- 규칙 
    - 대소문자를 구분
    - 소문자(a~z), 대문자(A~Z), 숫자(0~9), 특수문자(_) (다른 특수문자는 사용 불가)
    - 가장앞에 ('_ _')언더바 두개 쓰는건 안된다...(왜 그런지는 알지??)(Hint: '_ _main_ _')
    - 가장앞에 숫자는 쓰지마라
    - 예약어는 사용 불가함 : def, print 등등

In [14]:
A = 1
a = 2

In [15]:
A, a

(1, 2)

### 변수
- '='은 대입을 의미함

In [16]:
a=1
b='python'
a,b

(1, 'python')

In [17]:
# 다중할당 - 한줄에 여러개의 변수를 선언해서 값을 넣어줍니다.

a,b,c = "100","1000",10000

In [24]:
c = d = e = "data"

### 자료형 - datatype
- Number : int, float, complex(복소수)
- Boolean : True, False
- String
- Collection
    - List
    - Tuple
    - Dictionary
    - Set

In [30]:
# Number - int (파이썬 3.x에 들어서 거의 무한대의 숫자값을 사용 가능)
a, b, c, d = 0, 12345, -9993, +2384
print(type(a),type(b),c,d)

<class 'int'> <class 'int'> -9993 2384

In [32]:
# Number - float
a,b,c,d = 0.0, 1.2, 0.839, 223.42
print(type(a), type(b), c, d)

<class 'float'> <class 'float'> 0.839 223.42

In [35]:
# Number - complex
a = 2+3j
print(type(a),a)
b= complex(3, -4)
print(type(b),b)

<class 'complex'> (2+3j)
<class 'complex'> (3-4j)

In [37]:
a.real, a.imag # type 찍어보면 float으로 변형됨을 알 수 있음

(2.0, 3.0)

In [38]:
a + b, a*b, a / b

((5-1j), (18+1j), (-0.24+0.68j))

In [40]:
abs(a) #절대값함수

3.605551275463989

In [43]:
# Boolean
a, b = True, False #이게다임
a,b

(True, False)

In [50]:
# String
a,b = "data", 'science "good" ' #따옴표를 표현하고 싶다면 저렇게 넣어주면 됨 / 반대로 넣어도 가능함
a+" "+b
c = """ fast campus
data science
is the best course
"""
print(c)

 fast campus
data science
is the best course

In [54]:
# String - multiple string
s = "data " * 5
s

'data data data data data '

In [79]:
# String - offset (문자 하나하나 넘버링해서 특정문자의 위치 및 문자열을 선택 가능)
a = "abcdefgh"

a[2:len(a)]

'cdefgh'

In [81]:
# 문자열의 범위를 지정해서 문자열 선택 가능
a[1:3], a[-8:-4]

('bc', 'abcd')

In [99]:
# step
# inverse할때 사용
a[::1],a[::2],a[::3],a[::-1]

('abcdefgh', 'aceg', 'adg', 'hgfedcba')

### 문자열 함수

In [94]:
# string methods
# upper, lower
a[::-1].upper(), a.lower()

('HGFEDCBA', 'abcdefgh')

In [101]:
# find ★★★★★★★★★★★★★★★★★

a.find("cd") #특정문자나 문자열의 위치를 알랴줌(없으면 -1를 반환)

2

In [102]:
# index
a.index("c"), a.index("efg") #찾는 문자열이 없으면 에러가 발생

(2, 4)

In [120]:
# count
b= "qwoeriputn;m,b ,.cxzasdfl;kjgpoi[cxzvn,qrjlkhdsa;lsdhjl;b"

b.count('s'), b.count("cx")

(3, 2)

In [111]:
# strip (양쪽빈칸제거)

s = " data science    "
s.strip()

'data science'

In [115]:
# replace

b.replace("cx","★WOW★")

'qwoeriputnm,b ,.★WOW★zasdfl;kjgpoi[★WOW★zvn,qrjlkhdsa;lsdhjl;b'

In [121]:
# split ★★★★★★★★★★★★★★★★★★★ (특정문자를 기준으로 자른다. 매우자주 쓰이는 함수)

s.strip().split(" ")

b.strip().split(";")

['qwoeriputn', 'm,b ,.cxzasdfl', 'kjgpoi[cxzvn,qrjlkhdsa', 'lsdhjl', 'b']

### 컬렉션 (리스트 튜플 딕셔러니 세트)

In [129]:
#리스트 선언

ls1 = []
ls2 = ["fast", "campus", "data", "science"]
ls3 = [[1,2],[3,4]]
ls4 = [1, True, "fast"]

print(ls1,ls2,ls3,ls4)

[] ['fast', 'campus', 'data', 'science'] [[1, 2], [3, 4]] [1, True, 'fast']

In [130]:
#List offest

ls2[2]

'data'

### 리스트함수

In [131]:
#list method
# append, sort, reverse, index, insert, remove, pop
ls_h = ["fast", "campus", "data", "science"]

ls_h.append("dss8")
ls_h

['fast', 'campus', 'data', 'science', 'dss8']

In [134]:
ls_h.sort()
ls_h

['campus', 'data', 'dss8', 'fast', 'science']