# SQLAlchemy
- https://drive.google.com/drive/folders/1lx1ugXGKjiYcTZ5FynmQgPL8FM_WAD9v
- ORM
    - Object Relactional Mapping
    - 데이터베이스의 테이블에 매핑이 되는 클래스를 선언해서 사용
    - SQL문법을 사용하지 않고 함수형태로 데이터베이스에서 데이터를 가져오며,
       문법이 차이가 있어도 제한받지 않는다는 장점이 있다.
    - 사용하는 DB종류를 변경하고 싶을때는 접속 engine 객체의 접속정보만 바꿔주면 된다.

In [ ]:
#실습 : 함수 불러오기

import sqlalchemy ,pickle
# from sqlalchemy import Column, Integer, String, DateTime
from sqlalchemy import *
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [9]:
import getpass
pw = getpass.getpass("Password : ")

# db connect
engine = sqlalchemy.create_engine("mysql://root:"+pw+"@13.209.5.42/test")

In [13]:
# user2와 매핑되는 클래스 선언

Base = declarative_base()

class User(Base):
    __tablename__= "user2"
    
    user_id = Column(Integer,primary_key=True)
    name = Column(String(20))
    email = Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    def __init__(self, name, email, age, rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
        
    def __repr__(self):
        return "<User {}, {}, {}, {}>".format(self.name, self.email, self.age, self.rdate)

In [16]:
# Base 객에체 engine을 설정
Base.metadata.create_all(engine)

# session -- cursor와 같은 역할을 한다
session_maker_obj = sessionmaker(bind=engine)
session = session_maker_obj()

### insert

In [77]:
# insert one
user = User("jin", "jin@google.com", "30", "2016-03-21")
user

In [78]:
session.add(user)

In [94]:
# insert multy
users = [
    User("alchmy","potion@kon.com","25","2017-03-04"),
    User("andes","peerlove@ssil.com","30","2018-09-12")
]
users

[<User alchmy, potion@kon.com, 25, 2017-03-04>,
 <User andes, peerlove@ssil.com, 30, 2018-09-12>]

In [95]:
session.add_all(users)

In [96]:
# 세션 적용하기 run transaction
session.commit()

In [97]:
# 세션데이터를 클리어해줌 - rollback - session data clear - 중복이 없도록 하려면 항상 클리어 하도록한다.
session.rollback()

### select

In [31]:
# all
result = session.query(User).all()
list(result)

[<User jin, pdj@gmail.com, 30, 2018-07-13 02:32:18>,
 <User jun, jin1224@gmail.com, 30, 2018-07-13 02:32:18>,
 <User jin, jin@gmail.com, 30, 2016-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2017-03-04 00:00:00>,
 <User peter, pet@gmail.com, 30, 2018-09-12 00:00:00>,
 <User alicer, portion@gmail.com, 25, 2017-03-04 00:00:00>,
 <User andy, peterlove@gmail.com, 30, 2018-09-12 00:00:00>]

In [43]:
# filter
results = session.query(User).filter(User.name == "andy")
list(results)

In [42]:
# filter - not equal
result = session.query(User).filter(User.name != "andy")
list(result)

[<User jin, pdj@gmail.com, 30, 2018-07-13 02:32:18>,
 <User jun, jin1224@gmail.com, 30, 2018-07-13 02:32:18>,
 <User jin, jin@gmail.com, 30, 2016-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2017-03-04 00:00:00>,
 <User peter, pet@gmail.com, 30, 2018-09-12 00:00:00>,
 <User alicer, portion@gmail.com, 25, 2017-03-04 00:00:00>]

In [41]:
result = session.query(User).filter(User.age > 26)
list(result)

[<User jin, pdj@gmail.com, 30, 2018-07-13 02:32:18>,
 <User jun, jin1224@gmail.com, 30, 2018-07-13 02:32:18>,
 <User jin, jin@gmail.com, 30, 2016-03-21 00:00:00>,
 <User peter, pet@gmail.com, 30, 2018-09-12 00:00:00>,
 <User andy, peterlove@gmail.com, 30, 2018-09-12 00:00:00>]

In [40]:
#like
result = session.query(User).filter(User.email.like("%gmail%"))
list(result)

[<User jin, pdj@gmail.com, 30, 2018-07-13 02:32:18>,
 <User jun, jin1224@gmail.com, 30, 2018-07-13 02:32:18>,
 <User jin, jin@gmail.com, 30, 2016-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2017-03-04 00:00:00>,
 <User peter, pet@gmail.com, 30, 2018-09-12 00:00:00>,
 <User alicer, portion@gmail.com, 25, 2017-03-04 00:00:00>,
 <User andy, peterlove@gmail.com, 30, 2018-09-12 00:00:00>]

In [39]:
# in
result = session.query(User).filter(User.name.in_(["jin","andy"]))
list(result)

[<User jin, pdj@gmail.com, 30, 2018-07-13 02:32:18>,
 <User jin, jin@gmail.com, 30, 2016-03-21 00:00:00>,
 <User andy, peterlove@gmail.com, 30, 2018-09-12 00:00:00>]

In [99]:
# filter ~ not
results = session.query(User).filter(~User.email.like("%gmail%"))
list(results)

[<User jin, jin@naver.com, 30, 2016-03-21 00:00:00>,
 <User jin, jin@google.com, 30, 2016-03-21 00:00:00>,
 <User alchemy, portion@kon.com, 25, 2017-03-04 00:00:00>,
 <User andies, peterlove@ssil.com, 30, 2018-09-12 00:00:00>,
 <User alchmy, potion@kon.com, 25, 2017-03-04 00:00:00>,
 <User andes, peerlove@ssil.com, 30, 2018-09-12 00:00:00>]

In [107]:
results = session.query(User).filter(~User.name.in_(["jin","andy"]))
list(results)

[<User jun, jin1224@gmail.com, 30, 2018-07-13 02:32:18>,
 <User alice, alice@gmail.com, 25, 2017-03-04 00:00:00>,
 <User peter, pet@gmail.com, 30, 2018-09-12 00:00:00>,
 <User alicer, portion@gmail.com, 25, 2017-03-04 00:00:00>,
 <User alchemy, portion@kon.com, 25, 2017-03-04 00:00:00>,
 <User andies, peterlove@ssil.com, 30, 2018-09-12 00:00:00>,
 <User alchmy, potion@kon.com, 25, 2017-03-04 00:00:00>,
 <User andes, peerlove@ssil.com, 30, 2018-09-12 00:00:00>]

In [106]:
# and, or

from sqlalchemy import and_, or_

results = session.query(User).filter(or_(User.name== "jin", User.age == 25))
list(results)

[<User jin, pdj@gmail.com, 30, 2018-07-13 02:32:18>,
 <User jin, jin@gmail.com, 30, 2016-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2017-03-04 00:00:00>,
 <User alicer, portion@gmail.com, 25, 2017-03-04 00:00:00>,
 <User jin, jin@naver.com, 30, 2016-03-21 00:00:00>,
 <User jin, jin@google.com, 30, 2016-03-21 00:00:00>,
 <User alchemy, portion@kon.com, 25, 2017-03-04 00:00:00>,
 <User alchmy, potion@kon.com, 25, 2017-03-04 00:00:00>]

In [110]:
# order_by - ascending
results = session.query(User).order_by(User.age.asc())
list(results)

[<User alice, alice@gmail.com, 25, 2017-03-04 00:00:00>,
 <User alicer, portion@gmail.com, 25, 2017-03-04 00:00:00>,
 <User alchemy, portion@kon.com, 25, 2017-03-04 00:00:00>,
 <User alchmy, potion@kon.com, 25, 2017-03-04 00:00:00>,
 <User jin, pdj@gmail.com, 30, 2018-07-13 02:32:18>,
 <User jun, jin1224@gmail.com, 30, 2018-07-13 02:32:18>,
 <User jin, jin@gmail.com, 30, 2016-03-21 00:00:00>,
 <User peter, pet@gmail.com, 30, 2018-09-12 00:00:00>,
 <User andy, peterlove@gmail.com, 30, 2018-09-12 00:00:00>,
 <User jin, jin@naver.com, 30, 2016-03-21 00:00:00>,
 <User jin, jin@google.com, 30, 2016-03-21 00:00:00>,
 <User andies, peterlove@ssil.com, 30, 2018-09-12 00:00:00>,
 <User andes, peerlove@ssil.com, 30, 2018-09-12 00:00:00>]

In [111]:
# order_by descending
results = session.query(User).order_by(User.age.desc())
list(results)

[<User jin, pdj@gmail.com, 30, 2018-07-13 02:32:18>,
 <User jun, jin1224@gmail.com, 30, 2018-07-13 02:32:18>,
 <User jin, jin@gmail.com, 30, 2016-03-21 00:00:00>,
 <User peter, pet@gmail.com, 30, 2018-09-12 00:00:00>,
 <User andy, peterlove@gmail.com, 30, 2018-09-12 00:00:00>,
 <User jin, jin@naver.com, 30, 2016-03-21 00:00:00>,
 <User jin, jin@google.com, 30, 2016-03-21 00:00:00>,
 <User andies, peterlove@ssil.com, 30, 2018-09-12 00:00:00>,
 <User andes, peerlove@ssil.com, 30, 2018-09-12 00:00:00>,
 <User alice, alice@gmail.com, 25, 2017-03-04 00:00:00>,
 <User alicer, portion@gmail.com, 25, 2017-03-04 00:00:00>,
 <User alchemy, portion@kon.com, 25, 2017-03-04 00:00:00>,
 <User alchmy, potion@kon.com, 25, 2017-03-04 00:00:00>]

In [113]:
# count
session.query(User).count()

13

In [117]:
# update
jun = session.query(User).filter(User.name == "jun").one()
jun

In [118]:
jun.age = 28

In [119]:
session.add(jun)

In [120]:
session.commit()

In [121]:
# delete
alch = session.query(User).filter(User.name == "alchmy").delete()

In [122]:
session.commit()

In [123]:
session.close()